body{
    background: linear-gradient(#2D9596 30%, #18252d 60%);
}

header {
    height: 100px;
    background-color: #9AD0C2;
    border-radius: 0 0 100vw 0;
}

#candado{
    width: 100px;
    display: inline-block;
    margin-left: 20px;
}

#titulo {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    display: inline-block;
    color:black;
    position: absolute;
    top: 40px;
    margin-left: 10px;
}

main {
    background: linear-gradient(#2D9596, #18252d);
}

#texto-bienvenida {
    text-align: center;
    margin: 30px 0 0 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: rgb(11, 30, 46);

}

#advertencia {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 30px;
    color: rgb(11, 30, 46);

}

#contenedor-encriptar, #contenedor-desencriptar {
    height: 50vw;
    width: 49vw;
    display: inline-block;
}

textarea, button, .texto-descripcion{
    display: block;
    margin: 3vw auto;
}

.texto-descripcion {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #191d34;
    font-size: 18px;
}

textarea {
    height: 30vw;
    min-width: 40vw;
    resize: none;
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(#9AD0C2, #2D9596);
    border-image-slice: 10;
    box-shadow: black 0px 5px 5px;
}

#area-encriptar {
    background-image: url(img/Fondo\ de\ espera\ encriptar.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 105%;
}

#area-desencriptar {
    background-image: url(img/Fondo\ de\ espera\ desencriptar.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 110%;
}

#copiar-encriptado, #copiar-desencriptado {
    width: 3.5vw;
    height: 4.4vw;
    position: relative;
    bottom: 8.4vw;
    left: 18.3vw;
    background-image: url(img/Copiar.png);
    background-position: center;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 1.0s;
}

#copiar-encriptado:hover, #copiar-desencriptado:hover {
    cursor: pointer;
    opacity: 1.0;
}

#boton-encriptar, #boton-desencriptar {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #5a9899;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    box-shadow: black 0px 3px 10px;
    transition: background-color 0.6s, box-shadow 0.7s, font-size 0.5s;
    margin-top: -3vw;
    position: relative;
}

#boton-encriptar:hover, #boton-desencriptar:hover {
    cursor: pointer;
    font-size: 21px;
    background-color: #5fcb7c;
    text-shadow: 0 0 10px #fff;
    border: 1px solid #5fcb7c;
    box-shadow: #5fcb7c 0px 0px 20px;
}

footer {
    margin-top: 6vw;
    height: 200px;
    background-color: #1b1b1b;
    border-radius: 100vw 0 0 0;
}

#autor {
    color: #F1FADA;
    display: block;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 20px;
}

#logo {
    width: 110px;
    height: 120px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1039px) {
    #contenedor-encriptar, #contenedor-desencriptar {
        height: 40vw;
        width: 100vw;
        margin-bottom: 40vw;
        display: inline-block;
    }

    textarea {
        height: 50vw;
        min-width: 70vw;
        
    }

    #copiar-encriptado, #copiar-desencriptado {
        width: 4.5vw;
        height: 6vw;
        position: relative;
        bottom: 10.6vw;
        left: 32.5vw;
    }
  }

@media screen and (max-width:767px) {
    #contenedor-encriptar, #contenedor-desencriptar {
        height: 40vw;
        width: 100vw;
        margin-bottom: 60vw;
        display: inline-block;
    }

    textarea {
        height: 50vw;
        min-width: 70vw;
        
    }

    #copiar-encriptado, #copiar-desencriptado {
        width: 6vw;
        height: 8vw;
        position: relative;
        bottom: 12.7vw;
        left: 32.5vw;
    }
}

@media screen and (max-width:415px) {
    #titulo {
        font-size: 27px;
    }

    #contenedor-encriptar, #contenedor-desencriptar {
        height: 40vw;
        width: 100vw;
        margin-bottom: 80vw;
        display: inline-block;
    }

    textarea {
        height: 50vw;
        min-width: 70vw;
        
    }

    #copiar-encriptado, #copiar-desencriptado {
        width: 6vw;
        height: 8vw;
        position: relative;
        bottom: 13.6vw;
        left: 32.5vw;
    }
}
